<div class="exercise-header">
  <% var numExercises = exercises.length %>

  <div class="btn-group">
    <button type="button" class="btn btn-default btn-xs">
      <%= activeExercise.id + "/" + numExercises %>
    </button>

    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu exercise-list">
      <% exercises.each(function (exercise, idx) { %>
        <li><a data-index="<%= idx %>" data-id="<%= exercise.id %>"><%= idx + 1 %></a></li>
      <% }) %>
    </ul>
  </div>
</div>

<h3>Readings</h3>

<% _(activeExercise.get("readings").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>

<hr>

<h3>Instructions</h3>

<% _(activeExercise.get("instructions").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>
<br>
<br>

<a href="#/courses/<%= course.id %>">Back to Topics</a>
