Exercise Number:
<br>

<select class="exercise-list">
  <% exercises.each(function (exercise, idx) { %>
    <option
      data-id="<%= exercise.id %>"
      <% if (exercise === activeExercise) { %>
        selected
      <% } %>><%= idx + 1 %></option>
  <% }) %>
</select>

<br>
<h3>Readings</h3>

<% _(activeExercise.get("readings").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>

<hr>

<h3>Instructions</h3>

<% _(activeExercise.get("instructions").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>
<br>
<br>

<a href="#/courses/<%= course.id %>">Back to Topics</a>
