<% if (user && user.exerciseCompletions().findWhere({ exercise_id: activeExercise.id })) { %>
  <% var addGlyph = true; %>
<% } %>

<div class="exercise-header">
  <% var numExercises = exercises.length %>
  <h3><%= activeExercise.get("title") %></h3>
  <% if (addGlyph) { %>
    <span class="glyphicon glyphicon-ok"></span>
  <% } %>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-xs">
      <%= activeIndex + 1 + "/" + numExercises %>
    </button>

    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu exercise-list pull-right">
      <% exercises.each(function (exercise, idx) { %>
        <li>
          <a data-index="<%= idx %>" data-id="<%= exercise.id %>">
            <%= idx + 1 + " - " + exercise.get("title") %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<hr>


<% _(activeExercise.get("readings").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>

<hr>

<h3>Instructions</h3>
<br>
<% _(activeExercise.get("instructions").split("\n")).each(function (line) { %>
  <%= line %>
  <br>
<%  }) %>
<hr>

<a href="#/courses/<%= course.id %>">Back to Topics</a>
