<!DOCTYPE html>
<html>
<head>
  <title>CodeBytes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="/jsrepl/jsrepl.js" id="jsrepl-script"></script>
  <script src="/ace-editor/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8">
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
      <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
